nav li{
    list-style-type: none;
}

img{
    width: 100%;
}

h1{
text-align: center;
    margin-top: 20px;
}

nav{
    display: flex;
    max-width: 200px;
    width: 100%;
    justify-content: space-between;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #efefef;
}

article{
    background-color: #ffffff;
    padding: 20px;
    margin: 40px 0;
    border-radius: 5px;
}

.home-link{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 28px ;
}

.header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    background-color: #c1bcbc;
    padding: 10px 0;
}

figure{
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    h2{
        font-size: 1.6rem;
    }
}

footer{
    padding: 60px 0;
    text-align: center;
    background-color: #6b6868;
    color: #ffffff;
}

                      ::-webkit-scrollbar {
                          width: 8px;
                          height: 8px;
                      }
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
    background: #000000;
}
::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: #666666;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
